<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">The node/express app with mongodb </p>
  <a href="/note/add" class="btn btn-dark btn-lg mb-2">Add New Note</a>
  
</div>